# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build-debug
*.xml
/.idea
/cmake-build-default
/cmake-build-default
*.json
/cmake-build-default
/cmake-build-default/.cmake
/cmake-build-default/.cmake/api/v1/reply
/cmake-build-default
*.txt
*.json
cmake-build-default/.cmake/api/v1/reply/directory-_deps.googletest-build-15d73cdff13d5b8083c1.json
cmake-build-default/.cmake/api/v1/reply/directory-_deps.googletest-build.googlemock-9b06df648c7e69783021.json
cmake-build-default/.cmake/api/v1/reply/directory-_deps.googletest-build.googletest-ce9cf4c45262596b6881.json
cmake-build-default/.cmake/api/v1/reply/target-gmock-5afde5ea6e8b0d365a78.json
cmake-build-default/.cmake/api/v1/reply/target-gtest-d7ffe83897abccc1e44b.json
cmake-build-default/.cmake/api/v1/reply/target-gtest_main-cadbff18b0239eed41bc.json
cmake-build-default/.cmake/api/v1/reply/target-TestRunner-7020b17050a72c8161f7.json
cmake-build-default/.cmake/api/v1/reply/target-TimSortMain-ffb595b73aa6dd14d72f.json
cmake-build-default/CMakeCache.txt
cmake-build-default/.cmake/api/v1/reply/directory-_deps.googletest-build-15d73cdff13d5b8083c1.json
cmake-build-default/.cmake/api/v1/reply/directory-_deps.googletest-build.googlemock-9b06df648c7e69783021.json
cmake-build-default/.cmake/api/v1/reply/directory-_deps.googletest-build.googletest-ce9cf4c45262596b6881.json
cmake-build-default/.cmake/api/v1/reply/target-gmock-5afde5ea6e8b0d365a78.json
cmake-build-default/.cmake/api/v1/reply/target-gtest-d7ffe83897abccc1e44b.json
cmake-build-default/.cmake/api/v1/reply/target-gtest_main-cadbff18b0239eed41bc.json
cmake-build-default/.cmake/api/v1/reply/target-TestRunner-7020b17050a72c8161f7.json
cmake-build-default/.cmake/api/v1/reply/target-TimSortMain-ffb595b73aa6dd14d72f.json
cmake-build-default/CMakeCache.txt
*.txt
/cmake-build-default/.cmake/api/v1/reply
/cmake-build-default
/cmake-build-default/.cmake/api
/cmake-build-default
